<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/styleadd.css' %}">    
    <script src="{% static 'js/script.js' %}"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/travels">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/logout">Log Out <span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="jumbotron" style= "background-image: url('/static/img/postcard.jpg'); background-repeat: no-repeat; background-size: 100% 100%;">
            <h1 style= "color: white; ">Add a Trip</h1>
            <br>
            <br>         
            <br>
        </div>
            <div class="col-sm-4" style= "background-color: black; opacity: .8;" >
            <br>         
            <br>
                <form action="/addtrip" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label style= "color: white;">Destination</label>
                        <input type="text" name="form_destination" id="" class="form-control" >
                    </div>
                    <div class="form-group">
                        <label style= "color: white;">Description</label>
                        <input type="text" name="form_desc" placeholder="Please add comment" id="" class="form-control" >
                    </div>
                    <div class="form-group">
                        <label style= "color: white;">Travel Date From</label>
                        <input type="date" name="form_travel_start" id="" class="form-control" >
                    </div>
                    <div class="form-group">
                        <label style= "color: white;">Travel Date To</label>
                        <input type="date" name="form_travel_end" id="" class="form-control" >
                    </div>
                    <input type="submit" value= "Add" class="btn btn-primary" > 
                </form>  
            </div>
            <div class="col-sm-4">
                {% if messages %}
            <ul class="messages">    
                {% for message in messages %}    
                    <li style= "color: red;" {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
                {% endfor %}
            </ul>
            {% endif %}  
            </div>
    </div>
</body>
</html>