<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/styletravels.css' %}">    
    <script src="{% static 'js/script.js' %}"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/travels/add">Add Travel Plan <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/logout">Log Out <span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="jumbotron" style= "background-image: url('/static/img/user.jpg'); background-repeat: no-repeat; background-size: 100% 100%;">
            <br>
            <h1 style= "text-align: center; color: white; ">Hello {{ travellerlogin.name }}!</h1>
            <h1 style= "text-align: center; color: white;">Welcome!</h1>
            <br>
            <br>
        </div>
        <div class="row">
            <div class="col-sm-12" style= "background-color: grey; opacity: .9;"> 
            <br>
            <br>
                <table class="table table.striped">
                    <h5 style= color: white;">Your Trip Schedules</h5>
                    <tr>
                        <th style= "color: white;">Destination</th>
                        <th style= "color: white;">Travel Start Date</th>
                        <th style= "color: white;">Travel End Date</th>
                        <th style= "color: white;">Plan</th>
                    </tr>
                    {% for trip in loggedusertravels %}
                    <tr>
                        <td><a href="/trip_destination/{{ trip.id }}">{{ trip.destination }}</a></td>
                        <td style= "color: white;">{{ trip.travel_start }}</td>
                        <td style= "color: white;">{{ trip.travel_end }}</td>
                        <td style= "color: white;">{{ trip.desc }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
            <br>
            <br>
        <div class="row">
            <div class="col-sm-12" style= "background-color: grey; opacity: .9;">
            <br>
            <br>
                <h5 style= color: white;">Other User's Travel Plans</h5>
                <table class="table table.striped">
                    <tr>
                        <th style= "color: white;">Name</th>
                        <th style= "color: white;">Destination</th>
                        <th style= "color: white;">Travel Start Date</th>
                        <th style= "color: white;">Travel End Date</th>
                        <th style= "color: white;">Want to Join?</th>
                    </tr>
                    {% for trip in othertravels %}
                    <tr>
                        <td style= "color: white;">{{ trip.added_by.name }}</td>
                        <td><a href="trip_destination/{{ trip.id }}">{{ trip.destination }}</a></td>
                        <td style= "color: white;">{{ trip.travel_start }}</td>
                        <td style= "color: white;">{{ trip.travel_end }}</td>
                        <td><a href="/addtraveltotravels/{{ trip.id }}">Join</a></td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</body>
</html>
